<div class="jumbotron" 
  style="background-image: url(https://www.design.svgbackgrounds.com/wp-content/uploads/2021/05/sun-tornado-orange-spinning-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;">
  <div class="container" style="background-color: rgba(255, 255, 255, 0.6); padding: 25px; border-radius: 20px;">
    <h1 class="display-3">EventBite</h1>
    <p>if you're_pissing_off but you_want_to_create_an_event</p>
    <p><%= link_to 'Create an Event', new_event_path, class:"btn btn-warning btn-lg" %></p>
  </div>
</div>
  
<div class="container">
<h1 class="d-flex justify-content-center">Incoming Events</h1>


<div class="container row justify-content-center">

<% @events.each do |event| %>
  <div class="col-xs-12 col-md-6 col-lg-4">
    <div class="card m-3 card-home" style="width: 18rem;">  
      <img class="card-img-top" src="https://img.freepik.com/vecteurs-libre/stage-spot-lights-rayons-fond-rougeoyant_1017-31524.jpg?size=338&ext=jpg&ga=GA1.2.2136140614.1639267200" alt="Card image cap">
        <div class="card-body">
        <h5 class="card-title"> <%= event.title %> at <%= event.location %></h5>
          <p style="overflow-y:scroll;height:70px" class="card-text"><%= event.description %></p>
          <%= link_to 'Show more', event, class:"btn btn-warning" %> 
        <% if user_signed_in? && current_user.id == event.admin.id %>
         <%= link_to 'Editer', edit_event_path(event), class:"btn btn-success" %> 
         <%= link_to 'Supprimer', event, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
        <% end %>
      </div>
        <div class="card-footer">
        Price : <%= event.price %> € | Duration : <%= event.duration %> min
      </div>
    </div>
  </div>
  <% end %>
</div>
